.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  
}

body{
  background-color: black;
}

circle{
  fill: none;  
  stroke-width: 10;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: rgba(99, 99, 98, 0.349);

}
circle:nth-child(2){
  stroke-dasharray: var(--porcentaje) 100;
  stroke: var(--color);


}
.porcentaje {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}
.cronometro{
  color: white;
  position: absolute;
  top: 90px;
  left: 90px;

}
.container {
  position: relative;
  


  
}

.container .segundos {
  position: absolute;
  top: 0;
  left: 0;
}
.container .minutos {
  position: absolute;
  top: 0;
  left: 0;
}
.segundos{
  margin-top: 15px;
  margin-left: 15px;
}
.btn-centar{
  position: absolute;
  top: 120px;
  left: 70px;

}
button{
  background-color: rgba(32, 117, 113, 0.836);
  color: antiquewhite;
}
button:hover{
  background-color: rgb(32, 117, 113);
}
.titulo{
  color: white;
}